<section>
    <div class="container mb-4">

        <div class="row justify-content-center">
            <div class="col-md-6 add-product">
                <h2 class="text-center mb-3">Add Products</h2>
                      <div class="row ">
        <a href="/admin" class="btn btn-primary form-group text-center"> back</a>
      </div>
                <form action="/admin/add-product" method="POST" enctype="multipart/form-data">
  <div class="form-group mb-2 mt-3">
    <label for="">Item No</label>
    <input type="text" class="form-control" name="itemNo" aria-describedby="" placeholder="">
  </div>
  <div class="form-group mb-2">
    <label for="">Item Name</label>
    <input type="text" class="form-control" name="itemName" aria-describedby="" placeholder="">
  </div>
  <div class="form-group mb-2">
    <label for="">Category</label>
    <select class="form-control" name="category" id="">
    <option value="SmartPhone">SmartPhone</option>
    <option value="HeadPhone">HeadPhone</option>
    <option value="mercedes">Wireless-HeadPhone</option>
    <option value="Charger">Charger</option>
     <option value="USB Cable">USB Cable</option>
     <option value="USB Cable">Other</option>
     </select>
    
  </div>
  <div class="form-group mb-2">
    <label for="">Price</label>
    <input type="text" class="form-control" name="price" aria-describedby="" placeholder="">
  </div>
    <div class="form-group mb-2">
    <label for="">Description</label>
    <input type="text" class="form-control" name="description" aria-describedby="" placeholder="">
  </div>
    <div class="form-group mb-2">
    <label for="">Image</label>
    <input type="file" class="form-control" name="image" accept="image/x-png,image/gif,image/jpeg" aria-describedby="" placeholder="">
  </div>
 <div class="form-group mb-2 text-center"></div>
  <button type="submit" class="btn btn-success mt-4 ">Submit</button>
    </div>
</form>
            </div>
        </div>
    </div>
</section>