    <!-- Footer -->
<footer class="page-footer font-small top-footer text-white footer">

  <!-- Footer Links -->
  <div class="container text-left text-md-left ">
{{!-- 
    <!-- Grid row -->
    <div class="row ">



      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h3 class="font-weight-bold  mt-3 mb-4 top-footer-head">Our Services</h3>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Repair </a>
          </li>
          <li>
            <a href="#!">Retail</a>
          </li>
          <li>
            <a href="#!">E-commerce (B2C) </a>
          </li>
          <li>
            <a href="#!"> Recharge</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none bg-success">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h3 class="font-weight-bold  mt-3 mb-4 top-footer-head">News</h3>

        <ul class="list-unstyled">
          <li>
            <a href="#https://gadgets.ndtv.com/mobiles/news">Gadgets 360</a>
          </li>
          <li>
            <a href="#https://www.gsmarena.com/news.php3">GSM Arena</a>
          </li>
          <li>
            <a href="#https://www.androidauthority.com/">Android Authority</a>
          </li>
          <li>
            <a href="#https://www.91mobiles.com/hub/">91 mobiles</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h3 class="font-weight-bold  mt-3 mb-4 top-footer-head">Social Links</h3>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Facebook</a>
          </li>
          <li>
            <a href="#!">Instagram</a>
          </li>
          <li>
            <a href="#!">Twitter</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row --> --}}

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 footer-bg">© <script>document.write(new Date().getFullYear()); </script> Copyright 
    <a href="/" > <img src="/images/body/MYKART-logo.jpg" style="width: 30px; height: 13px" alt=""> </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->