    <!-- Footer -->
    {{#if user}}
<footer class="page-footer font-small top-footer text-white">

  <!-- Footer Links --> 
  <div class="container text-left text-md-left footertop">

    <!-- Grid row -->
    <div class="row ">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto ">

        <!-- Links -->
        <h3 class="font-weight-bold  mt-3 mb-4 top-footer-head">Address</h3>

        <ul class="list-unstyled footer-content">
          <li>
           Address, Flat no <br>
            Street No, Trivandrum <br>
            (+91 8891590046) <br>
            abc@gmail.com 
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h3 class="font-weight-bold  mt-3 mb-4 top-footer-head">Our Services</h3>

        <ul class="list-unstyled footer-content">
          <li>
            <a href="/unreachable">Services example 1 </a>
          </li>
          <li>
            <a href="/unreachable">Retail</a>
          </li>
          <li>
            <a href="/unreachable">E-commerce (B2C) </a>
          </li>
          <li>
            <a href="/unreachable"> Services example 2</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none bg-success">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h3 class="font-weight-bold  mt-3 mb-4 top-footer-head">News</h3>

        <ul class="list-unstyled footer-content">
          <li>
            <a href="#https://gadgets.ndtv.com/mobiles/news">Gadgets 360</a>
          </li>
          <li>
            <a href="#https://www.gsmarena.com/news.php3">GSM Arena</a>
          </li>
          <li>
            <a href="#https://www.androidauthority.com/">Android Authority</a>
          </li>
          <li>
            <a href="#https://www.91mobiles.com/hub/">91 mobiles</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h3 class="font-weight-bold  mt-3 mb-4 top-footer-head">Social Links</h3>

        <ul class="list-unstyled footer-content">
          <li>
            <a href="#!">Facebook</a>
          </li>
          <li>
            <a href="#!">Instagram</a>
          </li>
          <li>
            <a href="#!">Twitter</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 footer-bg">© <script>document.write(new Date().getFullYear()); </script> Copyright
     <a href="/"  class="footer-brand text-white"> My Kart </a> 	&nbsp; 	&nbsp; Developed by <a href="https://www.linkedin.com/in/ajmalnasumudeen/" target="_blank"  class="footer-brand text-white" >Ajmal Nasumudeen</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  {{/if}}