
<section class="" id="#">
<div class="row home">

    <div class="col-12 col-lg-12 cover">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators content-wrapper">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/body/carousal-02.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/body/carousal-01.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/body/carousal-03.jpg" class="d-block w-100" alt="...">
    </div>
  </div>

</div>
    <div class="text-wrapper">
        
        <h1 class="text-center text-bg">Shop Smart  </h1>
        <h3 class="text-center">Accessories and Devices</h3>
    </div>

    </div>

</div>
    
</section>
  <section id="advert">
        <div class="container my-auto">
            <div class="row advert-mob">
                <h1 class="py-4 mb-2 align-center bold-head">Offers </h1>
                <div class="col-lg-5 advert">
                    <div class="">
                        <img src="/images/product/608a9fe280b60e1e7cccd74c.jpg" class="" alt="">
                    </div>
                    <div class="">
                        <h3>Buy our best deals today</h3>
                        <p>35% off</p>
                        <button type="button" class="btn-advert">Add to Cart</button>
                    </div>


                </div>
                <div class="col-lg-5 advert">
                    <div class="">
                        <img src="/images/product/60941dc38788db18840017c0.jpg" class="" alt="">
                    </div>
                    <div class="">
                      <form action="/product">
                        <h3>Smart Accessories</h3>
                        <p>55% off</p>
                        <button  type="button" class="btn-advert"> Add to Cart</button> </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="story">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12  story">
                    <h1 class="py-3 mb-4 align-center bold-head">Our Stories</h1>
                    <H3 class="mb-4 story-head">Some headline</H3>
                    <div class="col-12 col-lg-3 stories ">
                        <div class="row each-story-head">
                            <h4>Story heading</h4>
                        </div>
                        <p>Story content
                            Generated Lorem Ipsum
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Commodo ullamcorper a lacus vestibulum.
                        </p>
                    </div>
                    <div class="col-12 col-lg-3 stories">
                        <div class="row each-story-head">
                            <h4>Story heading</h4>
                        </div>
                        <p>Story content
                            Generated Lorem Ipsum
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Commodo ullamcorper a lacus vestibulum.
                        </p>
                    </div>
                    <div class="col-12 col-lg-3 stories">
                        <div class="row each-story-head">
                            <h4>Story heading</h4>
                        </div>
                        <p>Story content
                            Generated Lorem Ipsum
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Commodo ullamcorper a lacus vestibulum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 about">
                    <h1 class="py-3 mb-4 pt-5 align-center bold-head">About us</h1>
                    <p>
                        Cookie Policy
                        Volusion Ecommerce Blog | SMB Marketing, Design, & Strategy

                        Ecommerce News
                        Marketing & Promotion
                        Planning & Strategy
                        Site Building

                        Marketing & Promotion
                        How to Write an About Us Page: Templates, Examples and Samples
                        Chris Galis
                        November 16, 2018
                        How to Write an About Us Page: Templates, Examples and Samples

                        An About Us page helps your company make a good first impression, and is critical for building
                        customer trust and loyalty. An About Us page should make sure to cover basic information about
                        the store and its founders, explain the company's purpose and how it differs from the
                        competition, and encourage discussion and interaction. Here are some free templates, samples,
                        and example About Us pages to help your ecommerce store stand out from the crowd.

                        When it comes to personalizing your online store, nothing is more effective than an About Us
                        page. This is a quick summary of your company's history and purpose, and should provide a clear
                        overview of the company's brand story. A great About Us page can help tell your brand story,
                        establish customer loyalty, and turn your bland ecommerce store into an well-loved brand icon.
                        Most importantly, it will give your customers a reason to shop from your brand.
                    </p>
                </div>
            </div>
        </div>

    </section>
    
 